* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar{
    height: 72px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    justify-content: space-evenly;
}

.navlogo{
    height: 80px;
    width: 1000px;
    
}

.logo{
    background-image: url(logoimg.jpg);
    height: 50px;
    width: 60px;
    background-size: cover;
    margin-top: 10px;
}

.nav-sign a{
    color: #6b6e79;
    text-decoration: underline;
}

.nav-sign a:hover{
    color: black;
    text-decoration: none;
}

.img1{
    height: 400px;
    width: 1600px;
    background-image: url(homeimg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxe1{
    height: 62px;
    width: 195px;
    background-color: white;
    margin-top: 250px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.box2{
    height: 62px;
    width: 195px;
    background-color: white;
    margin-top: 250px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.deals{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.container{
    display: flex;
    align-items: center;
}


.img2{
    background-image: url(specialdeals.jpg);
    background-size: cover;
    height: 465px;
    width: 700px;
    margin-top: 20px;
    margin-left: 200px;
    
}

.disclaimer1{
    height: 20px;
    width: 700px;
    background-color: #6b6e79;
    color: white;
    margin-left: 500px;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img3{
    background-image: url(specialdeal2.jpg);
    background-size: cover;
    height: 465px;
    width: 700px;
    margin-top: 16px;
}

.view{
    background-color: #0a8020;
    color: white;
    height: 56px;
    width: 1315px;
    border-radius: 8px;
    margin-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px
}

.container2{
    height: 250px;
    width: 1600px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

ul{
    margin: 40px;
}

ul p{
    font-size: 0.85rem;
}

.container3{
    height: 250px;
    width: 1600px;
    background-color: black;
    color: #78838c;
    display: inline-block;
    font-size: 0.85rem;
}

.line1{
    padding-top: 25px;
    margin-left: 150px;
}

.copyright{
    display: block;
    padding-top: 5px;
    margin-left: 550px;
}

.pizza-logo{
    height: 72px;
}
.main-logo{
    background-image: url(logoimg.jpg);
    height: 50px;
    width: 60px;
    background-size: cover;
    margin-top: 25px;
    margin-left: 250px;
}

.container-block{
    height: 500px;
    width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.sign-in{
    height: 300px;
    width: 650px;
    border: 2px solid #78838c;
    padding: 30px;
    
}

.statement{
    height: 40px;
    width: 600px;
    margin-top: 25px;
}

.mob-number{
    color: #6b6e79;
    margin-top: 25px;
}

input{
    height: 40px;
    width: 600px;
    margin-top: 5px;
    border: 0.85px solid #6b6e79;
    border-radius: 5px;
    padding: 0px 15px;
    font-size: medium;
    color: black;
}

input:hover{
    border: black ease;
}

.otp input{
    background-color: #e9ebee;
    color: #2c2d33;
    font-size: large;
    font-weight: bolder;
    height: 45px;
    width: 600px;
    margin-top: 30px;
    border: none;
    text-align: center;
}





